@{
    ViewBag.Title = "AddScheme";
}

<!-- jQuery 3 -->
@*<script src="/AdminLTE-2.4.2/bower_components/jquery/dist/jquery.min.js"></script>*@
@*<script src="~/wwwroot/lib/jquery/dist/jquery.min.js"></script>*@
<script src="~/wwwroot/lib/jquery/dist/jquery.js"></script>
<!-- Bootstrap 3.3.7 -->
@*<script src="/AdminLTE-2.4.2/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>*@
@*<script src="~/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
<script src="~/wwwroot/lib/bootstrap/dist/js/bootstrap.js"></script>
@*<link href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<!-- Moment -->
@*<script src="/AdminLTE-2.4.2/bower_components/moment/min/moment.min.js"></script>*@
@*<script src="~/wwwroot/lib/moment/min/moment.min.js"></script>*@
<script src="~/wwwroot/lib/moment/moment.js"></script>
<!-- date-range-picker -->
<link href="~/wwwroot/components/daterangepicker/daterangepicker.css" rel="stylesheet" />
<script src="~/wwwroot/components/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="/AdminLTE-2.4.2/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>


<form role="form" method="post" action="/Transaction/AddScheme">
    <div class="box-body">
        <div class="form-group">
            <label for="exampleInputEmail1">计划编号</label>
            <input class="form-control" id="Number" name="Number">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">计划制定人</label>
            <input class="form-control" id="EmployeeName" name="EmployeeName">
            <input type="hidden" name="employeeId" value=1 />
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">巡检路线</label>
            <input class="form-control" id="PatrolRouteName" name="PatrolRouteName">
            <input type="hidden" name="PatrolRouteId" value=1 />
        </div>
        <div class="form-group">
            <label>巡检时间</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right" id="reservation" name="DateRange">
            </div>
            <!-- /.input group -->
        </div>

    </div>
    <!-- /.box-body -->
    <button type="submit" class="btn btn-primary">确定</button>
    @Html.ActionLink("返回", "SchemeList", new { }, new { @class = "btn btn-primary" })
</form>

<script>
    $(function () {
        //Date range picker
        $('#reservation').daterangepicker({
            "startDate": '@DateTime.Now.ToString("MM/dd/yyyy")',
            "endDate": '@DateTime.Now.AddMonths(1).ToString("MM/dd/yyyy")'
        }, function (start, end, label) {
            $('#reservation').val()
            console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
        });
    })

</script>